.red-paragraph {
    background-color: #99a3a4 ;
    padding: 1em;
    line-height: 1.5;
    color: #21221A;
  }

  h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6495ED;
  }

  h1{
    font-weight: 800;
    color: #1f618d
  }

  body {
    background-color:#d7dbdd ;
    font-size: 18px;
  }